@model TravSystem.Models.TPlanet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TPlanet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TSubSectorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TSubSectorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPlanetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPlanetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orbit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orbit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TStarportId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TStarportId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAtmosphereId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAtmosphereId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hydrographics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hydrographics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TGovernmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TGovernmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TLawLevelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TLawLevelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
