@model IEnumerable<TravSystem.Models.TPlanet>

@{
    ViewData["Title"] = "Planet List";
}

<h1>Planet List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Subsector
            </th>
            <th>
                System
            </th>
            <th>
                Name
            </th>
            <th>
                Orbit
            </th>
            <th>
                Starport
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                Atmosphere
            </th>
            <th>
                Hyrographics
            </th>
            <th>
                Population
            </th>
            <th>
                Government
            </th>
            <th>
                Law Level
            </th>
            <th>
                Tech Level
            </th>
            <th>
                UWP
            </th>
            <th>
                Travel Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubSector.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.System.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orbit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starport.HexCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atmosphere.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hydrographics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Government.HexCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LawLevel.HexCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UWP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelCode.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
