@model TravSystem.Models.TSystemFeature

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TSystemFeature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roll)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roll)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicNature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicNature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimarySize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimarySize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanionSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanionSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanionOrbit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanionOrbit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxOrbits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxOrbits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GasGiantPresent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GasGiantPresent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GasGiantQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GasGiantQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeltPresent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeltPresent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeltQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeltQty)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
