@model IEnumerable<TravSystem.Models.TSystemFeature>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roll)
            </th>
            <th>
                Basic Natire
            </th>
            <th>
                Primary
            </th>
            <th>
                Primary Size
            </th>
            <th>
                Companion Type
            </th>
            <th>
                Companion Size
            </th>
            <th>
                Companion Ordbit
            </th>
            <th>
                Max Ordbits
            </th>
            <th>
               GG
            </th>
            <th>
                GG Qty
            </th>
            <th>
                Belt
            </th>
            <th>
                Belt Qty
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Roll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicNature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimarySize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanionSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanionOrbit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOrbits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GasGiantPresent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GasGiantQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeltPresent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeltQty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
