@model IEnumerable<TravSystem.Models.TCapturedAndEmpty>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DieRoll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Captures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapturedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmptyOrbits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmptyOrbitsQty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DieRoll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Captures)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapturedQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmptyOrbits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmptyOrbitsQty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
